
@import url('../styles/variables.css');

.calendar-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 2rem;
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-family: var(--font);
}

.calendar-tracker h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.calendar-note {
  font-size: 14px;
  color: #f8dcdc;
  margin-bottom: 1rem;
}

.react-calendar {
  border: none;
  border-radius: 12px;
  background-color: #3b1f24;
  color: var(--text-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

/* 🔴 Highlighting Selected Range */
.highlight-range {
  background-color: #d83261 !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile:hover {
  background-color: #653036;
  color: #fff;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.react-calendar__navigation {
  background-color: transparent;
  margin-bottom: 1rem;
}



/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
