@import '../styles/variables.css';

.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-title {
  font-size: 22px;
  font-weight: 600;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 18px;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.navbar-links a:hover {
  background-color: var(--button-hover);
}

.navbar-links .active {
  background-color: var(--secondary-color);
}
